<% include cores/header.ejs %>

<div class="row">
    <div class="col-md-12">
        <div class="container top space">
            <div class="row">
                <div class="col-sm-12 col-md-12 user-details">
                    <div class="user-image topspace">
                        <img src="images/users/profile.jpg"  class="img-circle">
                    </div>
                    <div class="user-info-block">
                        <div class="user-heading">
                            <h3>User Name</h3>
                            <span class="help-block">User Profile info Here</span>
                        </div>

                        <ul class="navigation userprofiletab" style="background:lightgray; border:1px solid;">
                            <li >
                                <a data-toggle="tab" href="/profile">
                                    <span class="glyphicon glyphicon-user"></span>
                                    User Information
                                </a>
                            </li>
                            <li >
                                <a data-toggle="tab" href="/settings">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="/inbox">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    Messages
                                </a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="/orderhistory">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    Orders History
                                </a>
                            </li>
                        </ul>


                        <div class="user-body">
                            <div class="tab-content">
                                <div id="settings" class="tab-pane active">

                                    <div class="col-md-12 col-md-offset-1">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>User Name</th>
                                                <th>Order ID</th>
                                                <th>Order Total</th>
                                                <th>Order Date</th>
                                                <th>Order Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>John</td>
                                                <td>DF6875</td>
                                                <td>$53</td>
                                                <td>July, 21st 2016</td>
                                                <td>Delivered</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<% include cores/footer.ejs %>